@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
